* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: 0.18em;
    color: white;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
header {
    background: rgba(0, 0, 0, 0.7);
    padding-top: 30px;
    padding-bottom: 50px;
    border-bottom: 3px solid rgb(224, 64, 251);
}
.titleImage > img {
    height: 12%;
    border-radius: 100%;
}
.titlecard {
    font-size: 1.8em;
    font-weight: 200;
    display: flex;
    align-items: center;
    margin-left: 50px;
}
.titlecard > * {
    margin: 30px;
}
nav ul li {
    display: inline-block;
    font-weight: 600;
}

.links li:not(:last-child):after {
    content: " /";
}

nav ul {
    padding-left: 130px;
    color: rgb(224, 64, 251);
    text-decoration: none;
}
nav ul li a, nav ul li a:hover {
    text-decoration: none;
    color: rgb(224, 64, 251)
}
.card {
    margin: 1.4%;
    background-color: rgba(0, 0, 0, 0.7) !important;
    max-width: 22%;
}
.gradient-card-header {
    padding: 20px;
}

.alpha {
    background-color: rgba(0, 0, 0, 0.87);
}

.content {
    max-width: 50%;
    margin: auto;
}

.post > .title {
    text-align: center;
}
/*hr {
    width: 5%;
    background-color: white;
}*/
.title { display: flex; justify-content: center; }
.title span { position: relative; }
.title span:before {
    content: "";
    position: absolute;
    top: 180%;
    left: 0;
    right: 0;
    height: 1px;
    background: white;
}
.post-text {
    max-width: 85%;
    margin: auto;
    padding-top: 50px;
    text-align: center;
}
nav {
    display: flex;
    justify-content: space-between;
}
.login > ul {
    display: flex;
    justify-content: flex-end;
    white-space: nowrap;
    margin-right: 25%;
}
.login > ul > li {
    display: inline-block;
}
.login > ul > li > a {
    text-decoration: none;
    color: #e040fb;
    padding: 7px;
    margin: 10px;
    border: 1px solid rgba(224, 64, 251, 0.5);
    -webkit-transition: background-color 0.1s;
    -moz-transition: background-color 0.1s;
    -ms-transition: background-color 0.1s;
    -o-transition: background-color 0.1s;
    transition: background-color 0.1s;
}

.login> ul>li>a:hover {
    background-color: #e040fb;
    color: aliceblue;
}
.message {
    text-align: center;
    padding: 20px;
    margin-top: 30px;
}


.md-form input[type=date]:focus:not([readonly]), .md-form input[type=datetime-local]:focus:not([readonly]), .md-form input[type=email]:focus:not([readonly]), .md-form input[type=number]:focus:not([readonly]), .md-form input[type=password]:focus:not([readonly]), .md-form input[type=search-md]:focus:not([readonly]), .md-form input[type=search]:focus:not([readonly]), .md-form input[type=tel]:focus:not([readonly]), .md-form input[type=text]:focus:not([readonly]), .md-form input[type=time]:focus:not([readonly]), .md-form input[type=url]:focus:not([readonly]), .md-form textarea.md-textarea:focus:not([readonly]) {
    -webkit-box-shadow: 0 1px 0 0 #e040fb;
    box-shadow: 0 1px 0 0 #e040fb;
    border-bottom: 1px solid #e040fb;
}

.md-form input[type=date]:focus:not([readonly])+label, .md-form input[type=datetime-local]:focus:not([readonly])+label, .md-form input[type=email]:focus:not([readonly])+label, .md-form input[type=number]:focus:not([readonly])+label, .md-form input[type=password]:focus:not([readonly])+label, .md-form input[type=search-md]:focus:not([readonly])+label, .md-form input[type=search]:focus:not([readonly])+label, .md-form input[type=tel]:focus:not([readonly])+label, .md-form input[type=text]:focus:not([readonly])+label, .md-form input[type=time]:focus:not([readonly])+label, .md-form input[type=url]:focus:not([readonly])+label, .md-form textarea.md-textarea:focus:not([readonly])+label {
    color: #e040fb;
}